*{
	margin :0;
	padding: 0;
	box-sizing: border-box;
}

.project-section div{
margin-top: 20px;
widows: 90%;
}

.project-section div img{
width: 90%;
}

.cnavbar {
	padding: 10px;
}

.cnavbar > a: hover{
	text-decoration: underline;
}